* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
:root{
    --MainColor:black;
    --SecColor: rgb(39, 39, 39) ;
}
body{
    background-color: var(--SecColor);
}
#navbar {
    display: flex;
    flex-direction: column;
    background-color: var(--MainColor);
    padding: 20px;
    text-align: center;
    color: white;
}

#content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    background-color: var(--SecColor);
}
#leftSide, #rightSide {
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 50vh;
    padding: 20px;
    border: 1px solid var(--SecColor);
    border-radius: 8px;
    background-color: var(--MainColor);
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(88, 88, 88, 0.1);
    font-size: 3em;
}

#bottomSide {
    display: flex;
    justify-content: center;
    font-size: 2em;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid var(--SecColor);
    border-radius: 8px;
    background-color: var(--MainColor);
    box-shadow: 0 0 10px rgba(88, 88, 88, 0.1);
    text-align: center;
    color: rgb(0, 0, 0);
}
table{
width: 400px;
}
td{
    text-decoration: var(--Done);
}